/* include margin, border, padding in width and height */
* {
    box-sizing: border-box;
}

/* default font and other stuff for the entire page */
body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #9a87c5a3 0%, #424349 63%);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0 auto;
}

/* header */
header {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    border-bottom:30px #879274;
    width: 100%;
    height: 20%;
    font-size: 1.5rem;
}
h1 {
    margin: 20px;
}

/* start/reset buttons */
button {
    font-size: 1.5rem;
    padding: 5px 20px;
    text-align: center;
    border-radius: 15px;
    border: 5px solid rgb(89, 126, 79);
    background-color: rgb(89, 126, 79);
    
}

#reset {
    font-size: 1rem;
    float: right;
    margin: 0 10px;
    width: 80%;
}

/* main */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* containers */
.gb-container, .sb-container {
    flex: 0 auto;
    min-height: 300px;
    background:rgb(169, 233, 157);
    border: 1px solid rgb(169, 233, 157);
    border-radius: 20px;
    margin-top: 100px;
}

.gb-container {
    width: 60vw;
}
.sb-container {
    width: 30vw;
}

/* user input */
.gb-input {
    text-align: center;
    line-height: 300px;
    font-size: 3rem;
}

/* scoreboard */
.sb-upper, .sb-timer {
    display: flex;
    border: 1px solid rgb(89, 126, 79);
    border-radius: 10px;
    margin: 10px;
    height: 135px;
    justify-content: space-evenly;
    align-items: center;
}
.sb-timer {
    flex-direction: column;
    align-items:center;
    text-align: center;
    background-color: lightslategrey;

}

.win-loss, .timer {
    font-size: 1rem;
    font-weight: bold;
    width: 45%;
}

/* adaptive screen */
@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 2rem;
    }
    .gb-input {
        font-size: 2rem;
    }
    .gb-container, .sb-container {
        width: 90vw;
        margin-top: 20px;
    }
}